
  body {
         margin:0px;
         padding:0px;    
         
       }
  
       #navbar {
         
         width:642px;
         height:41px;
         margin:0 auto;

       }
       
       table {
         margin:0;
         padding:0;
         
       }
       
       #Banner {
         
         margin:0px;
         padding:0px;
         width:100%;
         height:200px;
       }
