
      body {
         margin:0px;
         padding:0px;    
         background-color:white;
    
       }
  
      a:visited {
        
        color:#000000;
        
      }

       #navbar {
         
         width:642px;
         height:41px;
         margin:0 auto;

       }
       
       table {
         margin:0;
         padding:0;
         
       }
       
       #Banner {
         
         margin:0px;
         padding:0px;
         width:100%;
         height:300px;
         box-shadow: 0px 0px 10px 0px grey;

       }

      #sunglassesImg {
        float:left;
        width:200px;
        height:300px;
        
      }

    #fishingImg {
      float:right;
      width:200px;
      height:300px;
      
}

   #uriImg {
     width:100px;
     float:left;
     margin-left:70px;
     
     
}

  #newportImg {
    
    width:100px;
    margin-top:73px;
    margin-left:70px;
    
}

  #footer {
    margin-top:500px;
    
}

#khanProjects { 

  width:400px;
  margin:0 auto;

}

#khanProjects h2{ 

  text-align:center;

}

#khanProjects img{ 

  width:400px;
  height:400px;

}
  
